<h1>{{user.first_name}} {{user.last_name}} [{{user.id}}]</h1>
<ul class="list-group">
    <li class="list-group-item"><strong>Nome: </strong>{{user.first_name}}</li>
    <li class="list-group-item"><strong>Sobrenome: </strong>{{user.last_name}}</li>
</ul>
<a class="btn btn-default" href="/">Voltar</a>